@import "tailwindcss";

@theme {
  --color-primary: #0D0C22;
  --color-secondary: #0B0B0F;
  --color-card: #151550;
  --color-accent: #272835;
  --color-border: #44444A;

  /* Custom animations for Infinite Marquee */
  --animate-marquee-left: marquee-left 25s linear infinite;
  --animate-marquee-right: marquee-right 25s linear infinite;
  --animate-marquee-up: marquee-up 25s linear infinite;
  --animate-marquee-down: marquee-down 25s linear infinite;

  @keyframes marquee-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  @keyframes marquee-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
  }
  @keyframes marquee-up {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-50%); }
  }
  @keyframes marquee-down {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(0%); }
  }
}

@utility snap-y-mandatory {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

@utility snap-align-start {
  scroll-snap-align: start;
}

body {
  background-color: var(--color-primary);
  color: var(--color-gray-100);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
